= image_tag("turtle.png", class: "turtle")
.col-xs-12#we-are-imagineers.no-padding-left.no-padding-right
  .center.jumbotron
    .about-us-title
      %p{style: "display: inline;"}
        = "We are "
        .imagineers{style: "display: inline;"}
          = "imagineers"
      %p= "focusing on both art and tech."
    .about-us-body
      %p
        = "We believe that cutting-edge technology is AR's driving muscle behind robust, feature-rich and highly interactive applications. While art and creativity is the one that connects, inspires and touches people. With both, we are able to deliver the most compelling AR experiences."
      %br/
      %br/
      %p
        = "Our team is comprised of industry experts with years of experience developing mobile applications, games, AR and VR. We promise to deliver high quality software and top-notch visual graphics for your app project."
.col-xs-12.no-padding-left.no-padding-right
  .center.contact-us.white_gray_gradient
    = link_to "Contact Us", "#contact-us-top", class: "btn btn-lg btn-primary"

:javascript
  $('.contact-us a').click(function() {
      $root.animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
      }, 500);
      return false;
  });
