= form_for :send_email, url: send_email_static_pages_path, html: { id: "send_email_form" } do |f|
  .form-group.row
    .col-md-9.col-md-offset-2
      = f.text_field :name, class: "form-control", type: "text", placeholder: "Your Name*"
  .form-group.row
    .col-md-9.col-md-offset-2
      = f.text_field :email, class: "form-control", type: "email", placeholder: "Your Email*"
  .form-group.row
    .col-md-9.col-md-offset-2
      = f.text_field :company, class: "form-control", type: "text", placeholder: "Your Company"
  .form-group.row
    .col-md-9.col-md-offset-2
      = f.text_area :message, class: "form-control", type: "textarea", placeholder: "Your Message", rows: 5
  .form-group.row
    .col-md-2.col-md-offset-2
      = f.submit "Send", class: "btn btn-default btn-lg btn-block contact-us-send", type: "submit"
