.blog-title
  = @cover_blog.title rescue ""
%hr
.blog-body
  %p
    = truncate(strip_tags(@cover_blog.content.html_safe), escape: false, length: 340) rescue ""
.readmore-link
  = link_to "Read More >>", blog_path(@cover_blog)
.blog-social-links
  .fb-share-button{ "data-href" => blog_url(@cover_blog), "data-layout" => "button", "data-mobile-iframe" => "true", "data-size" => "large" }
    = link_to "Share", "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&src=sdkpreparse", target: "_blank", class: "fb-xfbml-parse-ignore"
  = link_to "Tweet", "https://twitter.com/intent/tweet?text=Check%20this%20out!&url=#{blog_url(@cover_blog)}", class: "twitter-share-button", "data-size": "large"
.row
%p.blog-date-posted
  = @cover_blog.date_posted rescue ""
