.follow-title
  = "like and follow imagineAR"
%hr
.follow-body
  %p
    = "<strong><i>imagineAR</i></strong> seeks to inspire and innovate through cutting-edge technology, creative digital graphics and playful arts.".html_safe
  %p
    = "We envision a world where dreams and ideas co-exist with reality."
  %p
    = "We'll keep you updated with the latest trends in tech, art, and games for the AR/VR/MR platforms."
.follow-social-links
  .fb-like{ "data-action" => "like", "data-href" => "https://www.facebook.com/imaginear.ph/", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "false", "data-size" => "large" }
  = link_to "Follow", "https://twitter.com/iMagesBlues?lang=en", "data-size" => "large", "data-show-screen-name" => "false", class: "twitter-follow-button"