#learnmore
  = render 'learnmore'

#ar-carousel
  = render 'carousel'

#social
  = render 'blog'

#about-us
  = render 'about_us'

= render 'contact_us'

= render 'partners'


/ #media-div
/   .col-xs-12
/     .center
/       .yt-container
/         = content_tag(:iframe, nil, src: "https://www.youtube.com/embed/oH_LfXnklRw", frameborder: "0", webkitallowfullscreen: '',  mozallowfullscreen: '', allowfullscreen: '', class: 'yt-video')

/ .col-xs-12#media-desc-div
/   .center
/     %p= "Breathe life to your products and make them accesible to"
/     %p= "thousands of users through our mobile AR platform"
/     %br/
/     %p= "Engage your audience with interactive 3D experiences"
/     %p= "superimposed on the product itself."
