#learnmore
  = render 'learnmore'

#ar-carousel
  = render 'carousel'

#social
  = render 'blog'

#about-us
  = render 'about_us'

= render 'contact_us'

= render 'partners'

- if params[:email_success].present?
  = render "email_success_modal"
