#learnmore
  = render 'learnmore'

#ar-carousel
  = render 'carousel'

#social
  = render 'blog'

#social_two
  = render 'blog_two'

#about-us
  = render 'about_us'

= render 'contact_us'

= render 'partners'

- if params[:email_success].present?
  = render "email_success_modal"
