#learnmore
  = render 'learnmore'

#ar-carousel
  = render 'carousel'

#social
  = render 'blog'

.col-xs-12.social-abtus-separator.white_gray_gradient
  .col-xs-12
    %hr

#about-us
  = render 'about_us'

= render 'contact_us'

= render 'partners'

- if params[:email_success].present?
  = render "email_success_modal"
