= simple_form_for [:admin, @blog] do |f|
  .panel.panel-default
    .panel-body
      .col-md-12
        .form-group
          = f.input :is_cover, label: "Set as cover blog"
        .form-group
          = f.input :title, placeholder: "Blog Title"
        .form-group
          = f.input :content,  placeholder: "Blog Content", input_html: { rows: 10, class: "tinymce" }
        .form-group
          = f.input :cover_image, as: :file
          - if f.object.cover_image.present?
            = image_tag(f.object.cover_image.large_thumb.url)

      .col-md-12
        .form-group
          - if @blog.new_record?
            = f.button :submit, "Create Blog", class: "btn btn-primary"
            = link_to "Cancel", admin_blogs_path, class: "btn btn-default"
          - else
            = f.button :submit, "Update Blog", class: "btn btn-primary"
            = link_to "Cancel", admin_blog_path(@blog), class: "btn btn-default"
= tinymce