= simple_form_for [:admin, @blog] do |f|
  .panel.panel-default
    .panel-body
      .col-md-12
        .form-group
          = f.input :title, placeholder: "Blog Title"
          = f.input :content,  placeholder: "Blog Content", input_html: { rows: 10, class: "tinymce" }
          = f.input :is_cover, label: "Set as cover blog"

      .col-md-12
        .form-group
          - if @blog.new_record?
            = f.button :submit, "Create Blog", class: "btn btn-primary"
            = link_to "Cancel", admin_blogs_path, class: "btn btn-default"
          - else
            = f.button :submit, "Update Blog", class: "btn btn-primary"
            = link_to "Cancel", admin_blog_path(@blog), class: "btn btn-default"
= tinymce