#blogs_admin
  .col-xs-12
    = render partial: 'layouts/header', locals: {addl_navbar_class: "other-header"}
    = render 'layouts/messages'
    .col-xs-12.col-md-12
      .blog-title
        - if @blog.is_cover
          %i.glyphicon.glyphicon-star{ style: "cursor: pointer;", title: "Cover blog" }
        = @blog.title rescue ""
      %br/
      = link_to "Edit this blog", edit_admin_blog_path(@blog), class: "btn btn-primary"
      = link_to "Blogs Index Page", admin_blogs_path, class: "btn btn-primary"
      %hr
      - if @blog.cover_image.present?
        .center.blog-cover-image
          = image_tag(@blog.cover_image.url)
      .blog-body
        = raw @blog.content.html_safe rescue ""
      %p.blog-date-posted
        = @blog.date_posted rescue ""
      %hr

      .center.blog-navigation
        - previous_blog = @blog.previous_blog
        - next_blog = @blog.next_blog
        - if previous_blog
          = link_to "<< Previous", admin_blog_path(@blog.previous_blog)
        - else
          = link_to "<< Previous", "", disabled: true, class: "disabled"
        = " | "
        - if next_blog
          = link_to "Next >>", admin_blog_path(@blog.next_blog)
        - else
          = link_to "Next >>", "", disabled: true, class: "disabled"

:javascript
  $(document).ready(function() {
    $('a[disabled=disabled]').click(function(event){
        event.preventDefault();
    });
  });
